:root {
    --primary: #000000;
    --bg-color: #f3f4f6;
    --text-color: #333333;
    --danger: #dc2626;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background: white;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(12, 5, 5, 0);
    overflow: hidden;
}

.header {
    background-color: var(--primary);
    color: white;
    padding: 25px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
}

.card-body {
    padding: 30px;
}

label {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #5dfb01;
}
#btn-descarga, .btn-pdf {
    background-color: #dc2626 !important; 
    color: white !important;
    border: none !important;
    display: block !important; 
    margin-top: 20px;
}

#resultados {
    margin-top: 25px;
    padding: 30px; 
    border: 2px solid #000; 
    border-radius: 0; 
    color-scheme: light; 
    background-color: #ffffff !important;
    color: #000000 !important;

    box-shadow: none !important;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    color-scheme: light;
    background-color: #ffffff !important;
    color: #000000 !important;
}

#resultados * {
    color: #000000 !important;
    text-shadow: none !important;
}

#resultados .deduction .amount,
#resultados .deduction span {
    color: #cc0000 !important; 
}

.hidden {
    display: none !important;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1.1rem; 
    border-bottom: 1px dotted #999; 
}

.amount {
    font-weight: 700;
    font-family: 'Courier New', monospace; 
}

.total {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 3px solid #000000;
    font-size: 1.4rem;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    background-color: #eee !important; 
    padding: 10px;

    .footer {
    text-align: center; 
    padding: 20px;
    font-size: 0.8rem;
    color: #666; 
    background-color: white;
}
}